* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e5ebee;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #615959;
}

.above-the-fold {
  font-family: "Antonio", sans-serif;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(128, 128, 128, 0.5))), url(images/background-large-2.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(128, 128, 128, 0.5)), url(images/background-large-2.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

.nav-container {
  width: 90%;
  margin: auto;
}

nav {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding-top: 4rem;
}

nav .logo .logo-text {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Zen Dots", cursive;
}

nav .logo .logo-subtext {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.nav-links {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 1rem;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-links a:hover {
  border-bottom: 2px solid #fff;
  letter-spacing: 0.2rem;
}

.icon-shopping svg {
  fill: #fff;
}

.header--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header--text h1 {
  font-size: 16rem;
  text-transform: uppercase;
  width: 120%;
}

.header--text p {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 2rem;
  width: 85%;
  font-weight: 300;
  line-height: 2.5rem;
}

.btn-shop {
  background-color: #f76846;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 3rem;
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 4rem;
}

.btn-shop a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.btn-shop svg {
  fill: #fff;
}

.features {
  padding: 12rem 12rem;
  position: relative;
}

.features .main-header,
.features h2 {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  width: 30%;
}

.features img {
  width: 100rem;
  position: relative;
  left: 10%;
}

.features .illustration-one {
  font-size: 50rem;
  color: #fff;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
  left: 4%;
  position: absolute;
  z-index: -1;
}

.features .illustration-cross {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f76846;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -1.3rem;
  right: 50%;
}

.features .illustration-indicators {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #f76846;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  outline: 1.8rem solid rgba(247, 104, 70, 0.3);
  z-index: 3;
}

.features .one {
  top: 51%;
  left: 31%;
}

.features .two {
  top: 30%;
  left: 47%;
}

.features .three {
  top: 52%;
  left: 49%;
}

.features .card {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8rem 3rem 5rem 3rem;
  background-color: #fff;
  border-top: 0.5rem solid #f76846;
  position: absolute;
  right: 22%;
  bottom: 45%;
}

.features .card .card__header {
  font-size: 2.5rem;
  width: 100%;
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  padding: 0;
  color: #181818;
}

.features .card p {
  font-size: 1.1rem;
  display: inline-block;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.features .btn-next {
  background-color: #f76846;
  width: 60%;
  padding: 0rem 2.5rem;
  background-color: #f76846;
  color: #fff;
  font-family: "Antonio", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .btn-next p {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.features .btn-next svg {
  fill: #fff;
}

.feature-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.feature-details .feature-detail {
  font-size: 1.6rem;
  width: 30%;
}

.feature-details .feature-detail .feature-detail__header {
  font-size: 2.5rem;
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 1.5rem;
}

.feature-details .feature-detail .feature-detail__text {
  font-size: 1.3rem;
  width: 90%;
  line-height: 2.3rem;
}

.feature-details .feature-detail .feature-detail__icon {
  position: relative;
  height: 13rem;
  left: -40%;
  top: 15%;
  z-index: -3;
}

.feature-details .feature-detail .feature-detail__icon svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}

.reviews {
  background-color: #fff;
  width: 95%;
  position: relative;
  right: -5%;
  padding-bottom: 10rem;
}

.review-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.review-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 8rem;
  width: 50%;
}

.review-card img {
  width: 40rem;
  position: relative;
  top: -8rem;
}

.review-card p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  width: 60%;
}

.review-card svg {
  fill: #f76846;
  width: 1.5rem;
  margin-bottom: 1rem;
}

.review-card .quotes {
  position: absolute;
  left: 40rem;
  top: 40rem;
}

.review-card .quotes svg {
  width: 40rem;
}

.review-card .name {
  font-family: "Antonio", sans-serif;
  color: #181818;
  text-transform: uppercase;
  margin-top: 1rem;
}

.review-card .location {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  position: relative;
  top: -0.5rem;
}

.more-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10rem;
}

.more-reviews .btn-more-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Antonio", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.more-reviews .btn-more-reviews a {
  text-transform: uppercase;
  text-decoration: none;
  color: #f76846;
}

.more-reviews .btn-more-reviews svg {
  fill: #f76846;
}

.companies-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  scale: 0.8;
  padding-bottom: 3rem;
  border: 5px solid linear-gradient(to right, red, blue);
}
/*# sourceMappingURL=styles.css.map */