// font-family: 'Antonio', sans-serif;

// font-family: 'Montserrat', sans-serif;

// font-family: 'Poppins', sans-serif;

// font-family: 'Zen Dots', cursive;

// Typography
$font--logo: "Zen Dots", cursive;
$font--header: "Antonio", sans-serif;
$font--text: "Poppins", sans-serif;

// Color
$color---white-darker: rgb(150, 152, 153);
$background--white: rgb(229, 235, 238);
$color--accent: #f76846;
$text--white: #fff;
$text--black: rgb(24, 24, 24);
$text--dark: rgb(97, 89, 89);

//utilities
$test: 1px solid red;
$test-secondary: 1px solid blue;
$test-tertiary: 1px solid gold;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $background--white;
  font-family: $font--text;
  font-size: 2rem;
  color: $text--dark;
}
.wrapper {
  max-width: 1440px;
}
//Imports

@import "partials/home";
@import "partials/features";
@import "partials/reviews";
@import "partials/products";
@import "partials/why-us";
@import "partials/service";
@import "partials/survey";
@import "partials/footer";
